* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: 'Nova Square', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}